/* styles.css */

/* Reset default margin and padding */

body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set default font and background colors */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #d98a8a;
    min-height: :100vh;
    display:flex;
    flex-direction:column;
}

/* Header styles */
header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo a {
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.navigation li {
    margin-left: 20px;
}

.navigation li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.navigation li a:hover {
    color: #555;
}


/* Footer styles */
footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
    margin-top:auto;
}

.footer-links {
    list-style: none;
    margin-top: 10px;
}

.footer-links li {
    display: inline-block;
    margin-right: 10px;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links li a:hover {
    color: #ccc;
}
